.tour-tip {
  display: none;
  position: absolute;
  background: #1C252E;
  color: #FFF;
  z-index: 101;
  top: 0;
  left: 2.5%;
  font-family: inherit;
  font-weight: 400;
  max-width: 400px;
  border-radius: 10px;
  -webkit-animation: fadeIn 0.3s both ease-in;
  -moz-animation: fadeIn 0.3s both ease-in;
  animation: fadeIn 0.3s both ease-in;

  p {
    color: #CBD0D4;
    font-size: .9em;
    line-height: 1.5em;
    margin: 0 0 1.125em;
  }
  button, .button {
    background-color: #189DAF;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    transition: background-color 300ms ease-out;
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    line-height: 1;
    position: relative;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    font-size: .8em;
    color: #FFF;
    border-style: solid;
    border-width: 0;
    margin: 0 0 1.25em;
    padding: .5em 1.25em .6em;
    border-radius: 8px;
    small {
      padding-top: .625em;
      padding-bottom: .5625em;
      -webkit-appearance: none;
    }
    &:hover {
      background-color: #0A87A1;
    }
  }  
  .tour-arrow {
    &.tt-top {
      border-style: solid;
      bottom: -27px;
      border-color: #1C252E transparent transparent!important;
    }
    &.tt-bottom {
      border-style: solid;
      top: -28px;
      border-color: transparent transparent #1C252E!important;
    }
    &.tt-right {
      border-style: solid;
      left: -27px;
      top: 28px;
      border-color: transparent #1C252E transparent transparent!important;
    }
    &.tt-left {
      border-style: solid;
      left: 100%;
      top: 28px;
      border-color: transparent transparent transparent #1c252e!important;
    }
    display: block;
    position: absolute;
    left: 22px;
    width: 0;
    height: 0;
    border: inset 14px;
  }
  .tour-content-wrapper {
    padding: 1.125em 1.25em 1.5em;

    .button {
      margin-bottom: 0!important;
    }  
  }
  .tour-close-tip {
    position: absolute;
    right: 12px;
    top: 10px;
    color: #fff!important;
    text-decoration: none;
    font-size: 30px;
    font-weight: 400;
    line-height: .5!important;
    cursor: pointer;
    &:hover, &:focus {
      color: #eee!important;
    }
  }

  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
  @-moz-keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}
