.tour-tip {
  display: none;
  position: absolute;
  background: #1C252E;
  color: #FFF;
  z-index: 101;
  top: 0;
  left: 2.5%;
  font-family: inherit;
  font-weight: 400;
  width: 95%;
  max-width: 800px;
  border-radius: 10px;
  p {
    color: #CBD0D4;
    font-size: 1.125em;
    line-height: 1.3;
    margin: 0 0 1.125em;
  }
  button, .button {
    background-color: #18AF90;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    transition: background-color 300ms ease-out;
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    line-height: 1;
    position: relative;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    font-size: 1em;
    color: #FFF;
    border-style: solid;
    border-width: 0;
    margin: 0 0 1.25em;
    padding: .75em 1.5em .8125em;
    border-radius: 8px;
    small {
      padding-top: .625em;
      padding-bottom: .5625em;
      -webkit-appearance: none;
    }
    &:hover {
      background-color: #0892af;
    }
  }  
  .tour-arrow {
    &.top {
      border-top-style: solid;
      top: -28px;
      border-color: transparent transparent #1C252E!important;
    }
    &.bottom {
      border-bottom-style: solid;
      bottom: -28px;
      border-color: #1C252E transparent transparent!important;
    }
    &.right {
      right: -28px;
      bottom: -150px;
      border-color: transparent transparent transparent #1C252E!important;
    }
    &.left {
      left: -28px;
      border-color: transparent #1C252E transparent transparent!important;
    }
    display: block;
    position: absolute;
    left: 22px;
    width: 0;
    height: 0;
    border: inset 14px;
  }
  .tour-content-wrapper {
    width: 100%;
    padding: 1.125em 1.25em 1.5em;

    .button {
      margin-bottom: 0!important;
    }  
  }
  .tour-close-tip {
    position: absolute;
    right: 12px;
    top: 10px;
    color: #fff!important;
    text-decoration: none;
    font-size: 30px;
    font-weight: 400;
    line-height: .5!important;
    &:hover, &:focus {
      color: #eee!important;
    }  
  }
}
